
html{
    font-size:62.5%
}
body{
    margin: 0px;
    padding: 0px;
    font-family:"Red Hat Display', sans-serif" !important;
      overflow-x:hidden !important;
}
.css-mha9hv{
    overflow: hidden !important;
}
/* .css-0{
    overflow: hidden !important;
} */

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
    box-shadow: none !important;
    background-color:#e7c6c636 !important;
}
@media (max-width:1024px){

    html{
        font-size:55%
    }
}

@media (max-width:768px){

    html{
        font-size:50%
    }
}

@media (max-width:480px){

    html{
        font-size:45%
    }
}


@media (max-width:320px){

    html{
        font-size:40%
    }
}
